@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bgwhite: #ffff;
  --bgblack: #000000;
  --textColorwhite: #ffffff;
  --textColorblack: #000000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {

  direction: rtl;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

.rtl {
  direction: rtl;
}

.rtl-editor .ql-editor {
  direction: rtl;
  text-align: right;
}

.container {
  height: auto;
  width: 100%;
  background-color: var(--bgblack);
  color: var(--textColorblack);
}

.posts {}

@media screen and (min-width:1536px) {}

@media screen and (min-width:1236px) {}

@media screen and (min-width:1024px) {}